<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBMIxHxxTBgc1pTk90kpkpg4zja0jVzm6A</string>
	<key>GCM_SENDER_ID</key>
	<string>306452440637</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.thutext</string>
	<key>PROJECT_ID</key>
	<string>thutext-2f1a9</string>
	<key>STORAGE_BUCKET</key>
	<string>thutext-2f1a9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:306452440637:ios:b4188ae2b1cf2d25b42c54</string>
</dict>
</plist>